body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrollbars from appearing */
}

#map {
    height: 100vh;
    width: calc(100% - 225px); /* Adjust width based on sidebar size */
    float: left;
}

#sidebar {
    height: 100vh;
    width: 225px;
    float: right;
    background-color: #f0f0f0; /* Adjust background color as needed */
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    #sidebar {
        width: 100%; /* Use 100% width on smaller screens */
        float: none; /* Remove float for full-width */
    }
}
